.vscode
.editorconfig
bin
**/build
**/CMakeFiles
**/CMakeCache.txt
**/Makefile
**/cmake_install.cmake
**/*.dll
**/*.a
**/*.exe
**/*.ilk
**/*.pdb
**/v16
**/*.dir
**/.vs
OVERLOGGER_DLL/Debug
**/x64
**/*.vcxproj*
**/*.sln
Win32
olg_test_app
libOVERLOGGER_DLL.so
ZERO_CHECK.proj
ZERO_CHECK.proj.filters
